.set-pwd{
    background: url("../Images/logo.png");
    height: 100%;
    width: 100%;
    background-size: 150px;
}
.set-pwd-bg{
    height: 100vh;
    width: -webkit-fill-available;
    background: #f0f8ffe8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set-pwd-ctn{
    width: 350px;
    background: white;
    padding: 15px;
}
.set-pwd-title {
    text-align: center;
    padding: 15px;
    font-size: 28px;
}
.set-pwd-box{
    padding: 4px 12px;
    font-size: 18px;
    width: 100%;
    outline: none;
    background: #f4f4f4;
    border: none;
    margin-top: 10px;
}
.row-set-pwd{
    padding: 10px 0;
}
.set-pwd-ctn label{
    font-size: 18px;
}
.set-pwd-btn{
    margin-top: 15px;
    color: white;
    background: black;
    padding: 3px 49px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}
.pwd-message{
    font-size: 14px;
}
.pwd-message:nth-last-child(2){
    color: red;
}
@media (max-width:425px){
    .set-pwd-ctn{
        width: 100%;
        padding: 10px 8px;
    }
    .set-pwd-title{
        font-size: 22px;
        height: 55px;
    }
    .set-pwd-bg{
        background: white;
    }
    .set-pwd-bg{
        background: white;
    }
}